/* You can add global styles to this file, and also import other style files */
:root {
  --mainColor: #777;
  --bgColor: #f8f8ec;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Pacifico', cursive;
  line-height: 1.7;
  font-weight: 400;
  color: var(--mainColor);
}

.slider {
  height: 100vh;
  background-color: var(--bgColor);
  overflow: hidden;
  display: flex;

  app-slide {
    flex-basis: 79.8%;
    margin-right: 0.2%;
    overflow: hidden;
  }

  app-slides-list {
    flex-basis: 20%;
    position: relative;
  }

  app-slide-item {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 322;
  }

  &__main {
    width: 100%;
    height: 100%;
  }

  &__slides {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }

  app-slide-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &__slide {
    width: 100%;
    height: 100%;
  }

  &__bg {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }

  &__overlay {
    background: #673AB7;
    background: -webkit-linear-gradient(to bottom, #512DA8, #673AB7);
    background: linear-gradient(to bottom, #512DA8, #673AB7);
    z-index: 2;
    position: absolute;
    opacity: 0.2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__controls {
    position: absolute;
    left: 7%;
    bottom: 4rem;
    z-index: 111;
    display: flex;
    align-items: center;
  }

  &__arrow {
    position: relative;

    span {
      background-color: #fff;
      height: 0.2rem;
      width: 5rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);

      &::after {
        display: block;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 0.6rem;
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &-right {
      span {
        right: -10%;

        &::after {
          transform: rotate(-45deg) translateY(-75%);
          right: -0.6rem;
          -webkit-transform: rotate(-45deg) translateY(-75%);
        }
      }


      &:hover {
        span {
          right: -40%
        }
      }
    }

    &-left {
      span {
        left: -10%;

        &::after {
          left: 1.1rem;
          transform: rotate(-232deg) translateY(88%);
          -webkit-transform: rotate(-232deg) translateY(88%);
        }
      }

      &:hover {
        span {
          left: -40%
        }
      }
    }
  }

  circle {
    cursor: pointer;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__items {
    width: 100%;
    position: absolute;
    height: 100%;
    transition: transform 0.6s cubic-bezier(1, 0, 0, 1);
  }

  &__item {
    cursor: pointer;
    height: 100%;
  }

  &__item:not(.active) {
    filter: blur(1.3px);
  }

  &__background {
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 10%;
    z-index: 21;
    transform: translateY(-50%);
  }

  &__header {
    margin-bottom: 2rem;
  }

  &__text {
    color: var(--bgColor);
    font-size: 3rem;
    text-transform: uppercase;
    text-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
  }

  &__button {
    text-transform: uppercase;
    color: #512DA8;
    font-size: 1.3rem;
    font-family: inherit;
    font-weight: normal;
    z-index: 22;
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 0.2rem;
    box-shadow: 0 0.15rem 0.2rem rgba(0, 0, 0, 0.1);
    padding: 1.3rem 2.5rem;
    cursor: pointer;
    z-index: 23;
    background-size: 250%;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #512DA8 50%);
    overflow: hidden;
    transition: all 0.9s cubic-bezier(0.19, 1, 0.22, 1);
  }

  &__button:hover {
    background-position: 100%;
    color: white !important;
  }

  &__pagination {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 40%;
    transform: translateX(-50%);
    bottom: 4rem;
    z-index: 1111;
    display: flex;
    align-items: center;

    &-item {
      background-color: transparent;
      width: 1.3rem;
      height: 1.3rem;
      border-radius: 50%;
      position: relative;
      border: 1px solid #fff;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 1rem;
      }

      &::after {
        position: absolute;
        content: '';
        background-color: transparent;
        width: 0;
        height: 0;
        left: 5.5px;
        top: 5.6px;
        -webkit-transform: translate(-58%, -58%) scale(0);
        transform: translate(-58%, -58%) scale(0);
        border-radius: 50%;
        transition: width 0.1s cubic-bezier(0.19, 1, 0.22, 1), height 0.1s cubic-bezier(0.19, 1, 0.22, 1);
      }

      &.active {
        &::after {
          width: 56%;
          height: 56%;
          transform: scale(1) translate(-58%, -58%);
          background-color: #fff;
        }
      }
    }
  }
}
